.App {
  margin: 0 auto;
  max-width: 800px;
}

.App footer {
  margin: 16px;
  text-align: center;
  font-size: 14px;
  color: var(--primary-colour);
}

.App footer a {
  color: var(--primary-colour);
}

.App footer a:hover {
  color: var(--accent-colour);
}

.App .copyright {
  font-size: 12px;
}
