.WeatherData {
  border-radius: 4px;
  padding: 7px;
  transition: all 200ms ease-in-out;
}

.WeatherData:hover {
  background-color: var(--tertiary-colour);
}

.WeatherData h1 {
  font-family: "Kaushan Script", cursive;
  font-weight: 300;
  color: var(--primary-colour);
  font-size: 50px;
}

.WeatherData .main-temp {
  font-size: 76px;
  color: var(--primary-colour);
}

.WeatherData .unit {
  margin-left: 6px;
  position: relative;
  top: -48px;
  font-size: 18px;
}

.WeatherData .main-icon {
  max-width: 80%;
  margin-bottom: 7px;
}
